# OpenAI
OPENAI_API_KEY=
OPENAI_DEFAULT_MODEL=gpt-4.1
OPENAI_VISION_MODEL=
OPENAI_OCR_MODEL=
OPENAI_DOCUMENT_MODEL=

# Next.js client config
NEXT_PUBLIC_APP_VERSION=v1.1.1

# Google Document AI (solo para FastAPI opcional)
DOC_AI_PROJECT=
DOC_AI_LOCATION=us
DOC_AI_PROCESSOR_ID=

# AWS Textract (solo para FastAPI opcional)
AWS_REGION=us-east-1
